body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:4174px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:36px;
  width:1200px;
  height:4174px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
