body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1251px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2252px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:56px;
  width:1200px;
  height:2252px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
