body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:1488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:424px;
  height:1488px;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1445px;
  width:68px;
  height:68px;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:103px;
  width:74px;
  height:12px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:99px;
  width:20px;
  height:20px;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:1271px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:158px;
  width:379px;
  height:1271px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:73px;
  width:12px;
  height:12px;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1267px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:1267px;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:64px;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:166px;
  width:360px;
  height:11px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:190px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:196px;
  width:9px;
  height:15px;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:180px;
  width:80px;
  height:44px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:187px;
  width:59px;
  height:29px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:274px;
  width:375px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:353px;
  word-wrap:break-word;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:375px;
  height:50px;
  font-size:15px;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:241px;
  width:10px;
  height:16px;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:60px;
  height:50px;
  color:#999999;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1194px;
  width:335px;
  height:90px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:331px;
  word-wrap:break-word;
}
#u4014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1376px;
  width:375px;
  height:51px;
  color:#FFFFFF;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:334px;
  width:375px;
  height:860px;
}
#u4016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:474px;
  width:335px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u4017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:374px;
  width:335px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:489px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u4020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:489px;
  width:60px;
  height:30px;
  color:#999999;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:334px;
  width:335px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:434px;
  width:335px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:574px;
  width:335px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u4024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:534px;
  width:335px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:694px;
  width:200px;
  height:120px;
  color:#999999;
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:196px;
  word-wrap:break-word;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:724px;
  width:44px;
  height:40px;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:634px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u4030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:784px;
  width:120px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u4031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u4032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:694px;
  width:120px;
  height:90px;
}
#u4032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:719px;
  width:50px;
  height:40px;
}
#u4033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:874px;
  width:200px;
  height:120px;
  color:#999999;
}
#u4036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:196px;
  word-wrap:break-word;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:904px;
  width:44px;
  height:40px;
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:814px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u4038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:964px;
  width:120px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u4040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:874px;
  width:120px;
  height:90px;
}
#u4040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:899px;
  width:50px;
  height:40px;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1054px;
  width:200px;
  height:120px;
  color:#999999;
}
#u4044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:196px;
  word-wrap:break-word;
}
#u4045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1084px;
  width:44px;
  height:40px;
}
#u4045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:994px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u4046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u4047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1144px;
  width:120px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u4047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u4048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1054px;
  width:120px;
  height:90px;
}
#u4048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1079px;
  width:50px;
  height:40px;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:120px;
  width:240px;
  height:120px;
}
#u4050_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u4052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1538px;
  width:76px;
  height:76px;
}
#u4052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:980px;
  width:240px;
  height:80px;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1060px;
  width:0px;
  height:0px;
}
#u4054_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u4054_seg1 {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:35px;
  width:294px;
  height:8px;
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:420px;
  width:240px;
  height:120px;
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:540px;
  width:0px;
  height:0px;
}
#u4056_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u4056_seg1 {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:60px;
  width:294px;
  height:8px;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:-163px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
