body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:50px;
  width:400px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:50px;
  width:400px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:100px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:50px;
  width:400px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:130px;
  width:400px;
  height:970px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:130px;
  width:400px;
  height:970px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:100px;
  height:970px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:477px;
  width:96px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:130px;
  width:400px;
  height:970px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1100px;
  width:400px;
  height:1630px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1100px;
  width:400px;
  height:1630px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:1630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1100px;
  width:100px;
  height:1630px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:807px;
  width:96px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:1100px;
  width:400px;
  height:1630px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:180px;
  width:100px;
  height:60px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:300px;
  width:100px;
  height:60px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:300px;
  width:100px;
  height:60px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:552px;
  width:100px;
  height:60px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:360px;
  width:0px;
  height:0px;
}
#u197_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u197_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:19px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:330px;
  width:0px;
  height:0px;
}
#u198_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:574px;
  height:8px;
}
#u198_seg1 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:-9px;
  width:19px;
  height:18px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:235px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:300px;
  width:160px;
  height:60px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:678px;
  width:100px;
  height:60px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:612px;
  width:0px;
  height:0px;
}
#u201_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u201_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:678px;
  width:100px;
  height:60px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:807px;
  width:100px;
  height:60px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:895px;
  width:100px;
  height:60px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1156px;
  width:100px;
  height:60px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:999px;
  width:100px;
  height:60px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:959px;
  width:100px;
  height:50px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:708px;
  width:0px;
  height:0px;
}
#u208_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:404px;
  height:8px;
}
#u208_seg1 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:-9px;
  width:19px;
  height:18px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:360px;
  width:0px;
  height:0px;
}
#u209_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u209_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:204px;
}
#u209_seg2 {
  border-width:0px;
  position:absolute;
  left:-404px;
  top:197px;
  width:408px;
  height:8px;
}
#u209_seg3 {
  border-width:0px;
  position:absolute;
  left:-404px;
  top:197px;
  width:8px;
  height:121px;
}
#u209_seg4 {
  border-width:0px;
  position:absolute;
  left:-409px;
  top:305px;
  width:18px;
  height:19px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:193px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:738px;
  width:0px;
  height:0px;
}
#u210_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u210_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:19px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:867px;
  width:0px;
  height:0px;
}
#u211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:136px;
}
#u211_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:119px;
  width:18px;
  height:19px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:837px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u212_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:62px;
}
#u212_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:45px;
  width:18px;
  height:19px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1029px;
  width:0px;
  height:0px;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:-4px;
  width:304px;
  height:8px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:-306px;
  top:-9px;
  width:19px;
  height:18px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1059px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:84px;
  width:18px;
  height:19px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1186px;
  width:0px;
  height:0px;
}
#u215_seg0 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:-4px;
  width:304px;
  height:8px;
}
#u215_seg1 {
  border-width:0px;
  position:absolute;
  left:-306px;
  top:-9px;
  width:19px;
  height:18px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:925px;
  width:0px;
  height:0px;
}
#u216_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u216_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-221px;
  width:8px;
  height:225px;
}
#u216_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-221px;
  width:127px;
  height:8px;
}
#u216_seg3 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-226px;
  width:19px;
  height:18px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-166px;
  width:100px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:999px;
  width:100px;
  height:60px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:955px;
  width:0px;
  height:0px;
}
#u218_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u218_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:70px;
  width:254px;
  height:8px;
}
#u218_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:65px;
  width:19px;
  height:18px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:66px;
  width:100px;
  word-wrap:break-word;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:999px;
  width:0px;
  height:0px;
}
#u219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-295px;
  width:8px;
  height:295px;
}
#u219_seg1 {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:-295px;
  width:354px;
  height:8px;
}
#u219_seg2 {
  border-width:0px;
  position:absolute;
  left:-356px;
  top:-300px;
  width:19px;
  height:18px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-299px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1290px;
  width:100px;
  height:60px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1196px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:98px;
}
#u221_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:81px;
  width:18px;
  height:19px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1670px;
  width:100px;
  height:60px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1350px;
  width:0px;
  height:0px;
}
#u223_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u223_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:19px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:61px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1411px;
  width:160px;
  height:60px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1411px;
  width:100px;
  height:60px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1441px;
  width:0px;
  height:0px;
}
#u226_seg0 {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:-4px;
  width:274px;
  height:8px;
}
#u226_seg1 {
  border-width:0px;
  position:absolute;
  left:-276px;
  top:-9px;
  width:19px;
  height:18px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1540px;
  width:100px;
  height:60px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1471px;
  width:0px;
  height:0px;
}
#u228_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u228_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:19px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1570px;
  width:0px;
  height:0px;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:354px;
  height:8px;
}
#u229_seg1 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:-99px;
  width:8px;
  height:103px;
}
#u229_seg2 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:-105px;
  width:18px;
  height:19px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1600px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u230_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:57px;
  width:18px;
  height:19px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1800px;
  width:100px;
  height:60px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1860px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u232_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:127px;
  width:18px;
  height:19px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1830px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u233_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:78px;
}
#u233_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:61px;
  width:18px;
  height:19px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1730px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u234_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:57px;
  width:18px;
  height:19px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2000px;
  width:100px;
  height:60px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1964px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u236_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:62px;
  width:54px;
  height:8px;
}
#u236_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:57px;
  width:19px;
  height:18px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1904px;
  width:100px;
  height:60px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1156px;
  width:100px;
  height:60px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:999px;
  width:100px;
  height:60px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u240 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:1401px;
  width:140px;
  height:80px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:1441px;
  width:0px;
  height:0px;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-4px;
  width:90px;
  height:8px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2126px;
  width:100px;
  height:60px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:2060px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:2116px;
  width:120px;
  height:80px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2156px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:694px;
  height:8px;
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:-9px;
  width:19px;
  height:18px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:295px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2254px;
  width:100px;
  height:60px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:2284px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  border-width:0px;
  position:absolute;
  left:-700px;
  top:-4px;
  width:704px;
  height:8px;
}
#u247_seg1 {
  border-width:0px;
  position:absolute;
  left:-706px;
  top:-9px;
  width:19px;
  height:18px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:-400px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:2254px;
  width:100px;
  height:60px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:2196px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:19px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2389px;
  width:100px;
  height:60px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:2314px;
  width:0px;
  height:0px;
}
#u251_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u251_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:19px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:2086px;
  width:100px;
  height:50px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:2214px;
  width:100px;
  height:50px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2539px;
  width:100px;
  height:60px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:2449px;
  width:0px;
  height:0px;
}
#u255_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u255_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:77px;
  width:18px;
  height:19px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1186px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-4px;
  width:105px;
  height:8px;
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-4px;
  width:8px;
  height:1391px;
}
#u256_seg2 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:1379px;
  width:105px;
  height:8px;
}
#u256_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:1374px;
  width:19px;
  height:18px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:684px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:422px;
  width:100px;
  height:60px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:482px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:57px;
  width:18px;
  height:19px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:240px;
  width:0px;
  height:0px;
}
#u259_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u259_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:25px;
  width:108px;
  height:8px;
}
#u259_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:25px;
  width:8px;
  height:35px;
}
#u259_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:47px;
  width:18px;
  height:19px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:240px;
  width:0px;
  height:0px;
}
#u260_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u260_seg1 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:24px;
  width:108px;
  height:8px;
}
#u260_seg2 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:24px;
  width:8px;
  height:36px;
}
#u260_seg3 {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:47px;
  width:18px;
  height:19px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
