body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:964px;
}
#u6608 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:50px;
  width:500px;
  height:964px;
}
#u6608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6610 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:224px;
  width:375px;
  height:603px;
}
#u6610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
  line-height:24px;
}
#u6612 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:224px;
  width:300px;
  height:120px;
  font-size:15px;
  color:#FFFFFF;
  line-height:24px;
}
#u6612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u6613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u6613 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:248px;
  width:20px;
  height:22px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u6613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:888px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6615 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:424px;
  height:888px;
}
#u6615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u6616 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:845px;
  width:68px;
  height:68px;
}
#u6616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6617 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:103px;
  width:74px;
  height:12px;
}
#u6617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6618 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:99px;
  width:20px;
  height:20px;
}
#u6618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6619 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:158px;
  width:379px;
  height:671px;
}
#u6619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6620 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:73px;
  width:12px;
  height:12px;
}
#u6620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6621 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:938px;
  width:76px;
  height:76px;
}
#u6621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6622 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:667px;
}
#u6622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6623 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:294px;
  width:335px;
  height:460px;
}
#u6623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6627 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:64px;
}
#u6627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6628 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:166px;
  width:360px;
  height:11px;
}
#u6628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6629 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:190px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u6629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u6630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u6630 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:196px;
  width:9px;
  height:15px;
}
#u6630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6631 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:180px;
  width:80px;
  height:44px;
}
#u6631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6632 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:187px;
  width:59px;
  height:29px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u6633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6634 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:375px;
  height:50px;
  font-size:15px;
}
#u6634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u6636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u6636 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:241px;
  width:10px;
  height:16px;
}
#u6636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6637 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:60px;
  height:50px;
  color:#999999;
}
#u6637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6638 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:776px;
  width:188px;
  height:51px;
}
#u6638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u6639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:51px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6639 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:776px;
  width:187px;
  height:51px;
  color:#FFFFFF;
}
#u6639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  word-wrap:break-word;
}
#u6640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6640 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:160px;
  width:240px;
  height:80px;
}
#u6640_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u6641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6641 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:350px;
  width:240px;
  height:80px;
}
#u6641_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u6642 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:200px;
  width:0px;
  height:0px;
}
#u6642_seg0 {
  border-width:0px;
  position:absolute;
  left:-591px;
  top:-4px;
  width:591px;
  height:8px;
}
#u6642_seg1 {
  border-width:0px;
  position:absolute;
  left:-591px;
  top:-4px;
  width:8px;
  height:332px;
}
#u6642_seg2 {
  border-width:0px;
  position:absolute;
  left:-670px;
  top:320px;
  width:87px;
  height:8px;
}
#u6642_text {
  border-width:0px;
  position:absolute;
  left:-547px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:888px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6644 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1014px;
  width:424px;
  height:888px;
}
#u6644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u6645 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1809px;
  width:68px;
  height:68px;
}
#u6645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6646 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1067px;
  width:74px;
  height:12px;
}
#u6646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6647 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1063px;
  width:20px;
  height:20px;
}
#u6647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6648 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1122px;
  width:379px;
  height:671px;
}
#u6648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6649 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1037px;
  width:12px;
  height:12px;
}
#u6649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6650 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:1902px;
  width:76px;
  height:76px;
}
#u6650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6651 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1124px;
  width:375px;
  height:667px;
}
#u6651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6655 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1124px;
  width:375px;
  height:64px;
}
#u6655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6656 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1130px;
  width:360px;
  height:11px;
}
#u6656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6657 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:1154px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u6657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u6658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u6658 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1160px;
  width:9px;
  height:15px;
}
#u6658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1144px;
  width:80px;
  height:44px;
}
#u6659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6660 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1151px;
  width:59px;
  height:29px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u6661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1188px;
  width:375px;
  height:50px;
  font-size:15px;
}
#u6662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u6664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u6664 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1205px;
  width:10px;
  height:16px;
}
#u6664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1188px;
  width:60px;
  height:50px;
  color:#999999;
}
#u6665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1238px;
  width:335px;
  height:48px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
#u6667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1466px;
  width:335px;
  height:100px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:331px;
  word-wrap:break-word;
}
#u6668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u6669 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1286px;
  width:375px;
  height:180px;
  font-size:15px;
  text-align:left;
}
#u6669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u6670 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1286px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
  line-height:30px;
}
#u6670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:331px;
  word-wrap:break-word;
}
#u6671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1286px;
  width:200px;
  height:60px;
  color:#CCCCCC;
  text-align:right;
  line-height:30px;
}
#u6671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1346px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
  line-height:30px;
}
#u6672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:331px;
  word-wrap:break-word;
}
#u6673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1346px;
  width:200px;
  height:60px;
  color:#CCCCCC;
  text-align:right;
  line-height:30px;
}
#u6673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1406px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
  line-height:30px;
}
#u6674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:331px;
  word-wrap:break-word;
}
#u6675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1566px;
  width:335px;
  height:44px;
  color:#FFFFFF;
}
#u6675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:331px;
  word-wrap:break-word;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:390px;
  width:0px;
  height:0px;
}
#u6676_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u6676_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-110px;
  width:8px;
  height:114px;
}
#u6676_seg2 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-110px;
  width:94px;
  height:8px;
}
#u6676_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:430px;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:294px;
  width:335px;
  height:430px;
}
#u6677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:704px;
  width:80px;
  height:50px;
  color:#999999;
}
#u6679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6680 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:719px;
  width:40px;
  height:20px;
  color:#FFFFFF;
}
#u6680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u6681 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:390px;
  width:0px;
  height:0px;
}
#u6681_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u6681_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:8px;
  height:497px;
}
#u6681_seg2 {
  border-width:0px;
  position:absolute;
  left:-935px;
  top:485px;
  width:879px;
  height:8px;
}
#u6681_seg3 {
  border-width:0px;
  position:absolute;
  left:-935px;
  top:437px;
  width:8px;
  height:56px;
}
#u6681_text {
  border-width:0px;
  position:absolute;
  left:-297px;
  top:481px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:964px;
}
#u6682 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1014px;
  width:500px;
  height:964px;
}
#u6682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6683 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:1188px;
  width:375px;
  height:603px;
}
#u6683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6685 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:1308px;
  width:270px;
  height:290px;
}
#u6685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u6686 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:1428px;
  width:270px;
  height:100px;
  line-height:24px;
}
#u6686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:266px;
  word-wrap:break-word;
}
#u6687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:51px;
}
#u6687 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:1548px;
  width:270px;
  height:50px;
}
#u6687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:266px;
  word-wrap:break-word;
}
#u6688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6688 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1348px;
  width:80px;
  height:80px;
}
#u6688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6689 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:470px;
  width:240px;
  height:80px;
}
#u6689_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u6690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6690 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:1400px;
  width:240px;
  height:80px;
}
#u6690_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u6691 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:1480px;
  width:0px;
  height:0px;
}
#u6691_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u6691_seg1 {
  border-width:0px;
  position:absolute;
  left:-323px;
  top:89px;
  width:327px;
  height:8px;
}
#u6691_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:85px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
