body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:1566px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:424px;
  height:1566px;
}
#u3883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1523px;
  width:68px;
  height:68px;
}
#u3884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:103px;
  width:74px;
  height:12px;
}
#u3885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:99px;
  width:20px;
  height:20px;
}
#u3886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:1349px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:158px;
  width:379px;
  height:1349px;
}
#u3887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:73px;
  width:12px;
  height:12px;
}
#u3888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1345px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:1345px;
}
#u3889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:64px;
}
#u3893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:166px;
  width:360px;
  height:11px;
}
#u3894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:190px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u3895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:196px;
  width:9px;
  height:15px;
}
#u3896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:180px;
  width:80px;
  height:44px;
}
#u3897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:187px;
  width:59px;
  height:29px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:375px;
  height:50px;
  font-size:15px;
}
#u3900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u3902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:241px;
  width:10px;
  height:16px;
}
#u3902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:60px;
  height:50px;
  color:#999999;
}
#u3903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:50px;
  width:240px;
  height:180px;
}
#u3904_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:294px;
  width:335px;
  height:180px;
}
#u3906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:51px;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:424px;
  width:295px;
  height:50px;
  text-align:left;
}
#u3907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:291px;
  word-wrap:break-word;
}
#u3908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:294px;
  width:295px;
  height:130px;
  text-align:left;
  line-height:24px;
}
#u3908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:291px;
  word-wrap:break-word;
}
#u3909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:900px;
  width:240px;
  height:80px;
}
#u3909_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u3910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:270px;
  width:240px;
  height:60px;
}
#u3910_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:534px;
  width:335px;
  height:180px;
}
#u3913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:51px;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:664px;
  width:295px;
  height:50px;
  text-align:left;
}
#u3914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:291px;
  word-wrap:break-word;
}
#u3915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:534px;
  width:295px;
  height:130px;
  text-align:left;
  line-height:24px;
}
#u3915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:291px;
  word-wrap:break-word;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:474px;
  width:335px;
  height:60px;
}
#u3917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:492px;
  width:80px;
  height:24px;
  font-size:11px;
  color:#CCCCCC;
}
#u3918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:370px;
  width:240px;
  height:60px;
}
#u3919_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:400px;
  width:0px;
  height:0px;
}
#u3921_seg0 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-4px;
  width:48px;
  height:8px;
}
#u3921_seg1 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-4px;
  width:8px;
  height:232px;
}
#u3921_seg2 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:220px;
  width:130px;
  height:8px;
}
#u3921_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:145px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:300px;
  width:0px;
  height:0px;
}
#u3922_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:91px;
  height:8px;
}
#u3922_seg1 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-4px;
  width:8px;
  height:92px;
}
#u3922_seg2 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:80px;
  width:87px;
  height:8px;
}
#u3922_text {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:974px;
  width:335px;
  height:200px;
}
#u3924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:51px;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1124px;
  width:295px;
  height:50px;
  text-align:left;
}
#u3925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:291px;
  word-wrap:break-word;
}
#u3926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:974px;
  width:295px;
  height:150px;
  text-align:left;
  line-height:24px;
}
#u3926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:291px;
  word-wrap:break-word;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:714px;
  width:335px;
  height:60px;
}
#u3928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:732px;
  width:80px;
  height:24px;
  font-size:11px;
  color:#CCCCCC;
}
#u3929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1616px;
  width:76px;
  height:76px;
}
#u3931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:980px;
  width:0px;
  height:0px;
}
#u3932_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:98px;
}
#u3932_seg1 {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:90px;
  width:294px;
  height:8px;
}
#u3932_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:774px;
  width:335px;
  height:180px;
}
#u3934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:774px;
  width:295px;
  height:130px;
  text-align:left;
  line-height:24px;
}
#u3935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:291px;
  word-wrap:break-word;
}
#u3936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:51px;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:904px;
  width:295px;
  height:50px;
  text-align:left;
}
#u3936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:291px;
  word-wrap:break-word;
}
#u3937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 242, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:720px;
  width:240px;
  height:80px;
}
#u3937_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:760px;
  width:0px;
  height:0px;
}
#u3938_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u3938_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:112px;
}
#u3938_seg2 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:100px;
  width:109px;
  height:8px;
}
#u3938_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1194px;
  width:335px;
  height:180px;
}
#u3940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:51px;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1324px;
  width:295px;
  height:50px;
  text-align:left;
}
#u3941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:291px;
  word-wrap:break-word;
}
#u3942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1194px;
  width:295px;
  height:130px;
  text-align:left;
  line-height:24px;
}
#u3942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:291px;
  word-wrap:break-word;
}
