body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:474px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:1318px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11981 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:424px;
  height:1318px;
}
#u11981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u11982 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1275px;
  width:68px;
  height:68px;
}
#u11982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11983 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:103px;
  width:74px;
  height:12px;
}
#u11983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11984 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:99px;
  width:20px;
  height:20px;
}
#u11984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:1101px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11985 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:158px;
  width:379px;
  height:1101px;
}
#u11985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11986 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:73px;
  width:12px;
  height:12px;
}
#u11986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1097px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11987 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:1097px;
}
#u11987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u11989 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:375px;
  height:50px;
  font-size:15px;
}
#u11989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u11991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u11991 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:241px;
  width:10px;
  height:16px;
}
#u11991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11992 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:224px;
  width:60px;
  height:50px;
  color:#999999;
}
#u11992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11993 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:334px;
  width:375px;
  height:780px;
}
#u11993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u11994 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:274px;
  width:335px;
  height:60px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u11994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:331px;
  word-wrap:break-word;
}
#u11995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u11996 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:874px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u11996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u11997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11997 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:874px;
  width:120px;
  height:60px;
  text-align:right;
}
#u11997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u11998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u11998 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:934px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u11998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u11999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11999 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:934px;
  width:120px;
  height:60px;
  text-align:right;
}
#u11999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u12000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12000 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:994px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u12000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12001 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:994px;
  width:120px;
  height:60px;
  text-align:right;
}
#u12001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u12002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u12002 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:834px;
  width:335px;
  height:40px;
  color:#999999;
  text-align:left;
}
#u12002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12005 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:434px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u12005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12006 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:434px;
  width:120px;
  height:60px;
  text-align:right;
}
#u12006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u12007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12007 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:494px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u12007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u12008 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:494px;
  width:120px;
  height:60px;
  color:#999999;
  text-align:right;
}
#u12008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u12009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u12009 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:334px;
  width:335px;
  height:40px;
  color:#999999;
  text-align:left;
}
#u12009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12011 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:374px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u12011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12012 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:374px;
  width:120px;
  height:60px;
  text-align:right;
}
#u12012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u12013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u12013 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:401px;
  width:11px;
  height:6px;
  color:#FFFFFF;
}
#u12013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u12014 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1054px;
  width:335px;
  height:60px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u12014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:331px;
  word-wrap:break-word;
}
#u12016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12016 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1368px;
  width:76px;
  height:76px;
}
#u12016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12020 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:160px;
  width:375px;
  height:64px;
}
#u12020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12021 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:166px;
  width:360px;
  height:11px;
}
#u12021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12022 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:190px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u12022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u12023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u12023 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:196px;
  width:9px;
  height:15px;
}
#u12023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12024 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:180px;
  width:80px;
  height:44px;
}
#u12024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12025 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:187px;
  width:59px;
  height:29px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u12026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12027 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1206px;
  width:188px;
  height:51px;
}
#u12027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u12028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:51px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12028 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1206px;
  width:187px;
  height:51px;
  color:#FFFFFF;
}
#u12028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  word-wrap:break-word;
}
#u12029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12030 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:594px;
  width:335px;
  height:60px;
  text-align:left;
}
#u12030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u12031 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:554px;
  width:335px;
  height:40px;
  color:#999999;
  text-align:left;
}
#u12031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12032 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:594px;
  width:120px;
  height:60px;
  text-align:right;
}
#u12032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u12033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12033 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:774px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u12033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:331px;
  word-wrap:break-word;
}
#u12034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12034 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:774px;
  width:120px;
  height:60px;
  text-align:right;
}
#u12034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u12035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12035 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:654px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u12035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u12036 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:654px;
  width:240px;
  height:60px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u12036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u12037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:61px;
}
#u12038 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:714px;
  width:335px;
  height:60px;
  color:#666666;
  text-align:left;
}
#u12038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  word-wrap:break-word;
}
#u12039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u12039 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:714px;
  width:240px;
  height:60px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u12039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u12040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u12040 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:741px;
  width:11px;
  height:6px;
  color:#FFFFFF;
}
#u12040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u12041 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:681px;
  width:11px;
  height:6px;
  color:#FFFFFF;
}
#u12041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
